.video-player-widget .thumbnail{
    display: inline-block;
    position: relative;
    padding: 0;
    border-radius: 0;
    margin-bottom: 30px;
    outline: none;
    border: none
}
.video-player-widget .play_video{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 65px;
    height: 65px;
    border: 5px solid #fde428;
    background: #fde428;
    opacity: 0.9;
    margin: -32px 0 0 -32px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.video-player-widget .play_video:after {
    content: '';
    position: absolute;
    top: 16px;
    left: 21px;
    border-top: 11px solid transparent;
    border-bottom: 11px solid transparent;
    border-right: 15px solid transparent;
    border-left: 15px solid #222;
}
.video-player-widget .thumbnail:hover .play_video:after {
    border-left: 15px solid #fff;
}